*.class
*.log

# sbt specific
dist/*
target/
# NB : écrire "target/" ignore aussi les dossiers target/ dans les sous-projets,
# n'importe où dans l'arborescence
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.settings/

# Eclipse specific
.project
.classpath
.cache-main
bin/

node_modules/

misc
plugins
scala-devel