#editor {
  height: 500px;
}

#completion-list {
  width: 400px;
  height: 120px;
  background: teal;
  padding: 5px;
  list-style-type: none;
  overflow: scroll;
  resize: both; /* not supported by IE and even Edge */
  z-index: 1;
}

#completion-list li {
  font-family: monospace;
  font-size: 12px;
  color: white;
  padding: 2px 0;
  border-bottom: 1px solid white;  
}

#completion-list li:last-child {
  border-bottom: none;  
}

li.selected {
  background: orange;
}